{% set service_single_value_vars = ['image', 'platform', 'container_name', 'privileged', 'init', 'command', 'mem_limit',
                            'memswap_limit', 'network_mode', 'entrypoint', 'stop_grace_period', 'stop_signal', 'runtime',
                            'scale', 'restart']
                            %}
{% set service_list_vars = ['networks', 'depends_on', 'dns', 'dns_opt', 'dns_search', 'environment', 'env_file', 'expose',
                    'extra_hosts', 'ports', 'devices', 'labels', 'volumes', 'sysctls']
                    %}
{% set network_single_value_vars = ['driver', 'attachable', 'enable_ipv6', 'external', 'internal', 'name'] %}
{% if current_project.value.docker_compose_file_version is defined or project_deployment_docker_compose_file_version is defined %}
version: '{{ current_project.value.docker_compose_file_version if current_project.value.docker_compose_file_version is defined and current_project.value.docker_compose_file_version is not none else project_deployment_docker_compose_file_version }}'

{% endif %}
services:
{% for name, current_service in current_project.value.services.items() %}
  {{ name }}:
{% for variable in service_single_value_vars %}
{% if current_service[ variable ] is defined and current_service[ variable ] is not none %}
    {{ variable }}: {{ current_service[ variable ] }}
{% endif %}
{% endfor %}
{% for variable in service_list_vars %}
{% if current_service[ variable ] is defined and current_service[ variable ] | length > 0 %}
    {{ variable }}:
{% if variable == 'depends_on' and current_service[ variable ] is mapping %}
{% for dependency in current_service[ variable ] %}
      {{ dependency }}:
{% if current_service[ variable ][ dependency ][ 'restart' ] is defined %}
        restart: {{ current_service[ variable ][ dependency ][ 'restart' ] }}
{% endif %}
{% if current_service[ variable ][ dependency ][ 'condition' ] is defined %}
        condition: {{ current_service[ variable ][ dependency ][ 'condition' ] }}
{% endif %}
{% if current_service[ variable ][ dependency ][ 'required' ] is defined %}
        required: {{ current_service[ variable ][ dependency ][ 'required' ] }}
{% endif %}
{% endfor %}
{% else %}
{% for item_ in current_service[ variable ] %}
      - {{ item_ }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% if current_service.healthcheck is defined and current_service.healthcheck is not none %}
    healthcheck:
{% if ':' in current_service.healthcheck.test %}
      test: >
        {{ current_service.healthcheck.test }}
{% else %}
      test: {{ current_service.healthcheck.test }}
{% endif %}
{% if current_service.healthcheck.interval is defined and current_service.healthcheck.interval is not none %}
      interval: {{ current_service.healthcheck.interval }}
{% endif %}
{% if current_service.healthcheck.timeout is defined and current_service.healthcheck.timeout is not none %}
      timeout: {{ current_service.healthcheck.timeout }}
{% endif %}
{% if current_service.healthcheck.retries is defined and current_service.healthcheck.retries is not none %}
      retries: {{ current_service.healthcheck.retries }}
{% endif %}
{% if current_service.healthcheck.start_period is defined and current_service.healthcheck.start_period is not none %}
      start_period: {{ current_service.healthcheck.start_period }}
{% endif %}
{% endif %}
{% if current_service.logging is defined and current_service.logging is not none %}
    logging:
      driver: {{ current_service.logging.driver }}
{% if current_service.logging.options is defined and current_service.logging.options is not none %}
      options:
{% for key, value in current_service.logging.options.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% if current_project.value.networks is defined and current_project.value.networks is not none %}

networks:
{% for network in current_project.value.networks %}
  {{ network }}:

{% for variable in network_single_value_vars %}
{% if current_project.value.networks[ variable ] is defined and current_project.value.networks[ variable ] is not none %}
    {{ variable }}: {{ current_project.value.networks[ variable ] }}
{% endif %}
{% endfor %}
{% if current_project.value.networks[ 'driver_opts' ] is defined and current_project.value.networks[ 'driver_opts' ] is not none %}
    driver_opts:
{% for key, value in current_project.value.networks[ 'driver_opts' ].items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if current_project.value.networks[ 'ipam' ] is defined and current_project.value.networks[ 'ipam' ] is not none %}
    ipam:
{% if current_project.value.networks[ 'ipam' ]['driver'] is defined and current_project.value.networks[ 'ipam' ]['driver'] is not none %}
      driver: {{ current_project.value.networks[ 'ipam' ]['driver'] }}
{% endif %}
{% if current_project.value.networks[ 'ipam' ]['config'] is defined and current_project.value.networks[ 'ipam' ]['config'] | length > 0 %}
      config:
{% for ipam_config_item in current_project.value.networks[ 'ipam' ]['config'] %}
        - subnet: {{ ipam_config_item.subnet }}
{% if ipam_config_item.ip_range is defined and ipam_config_item.ip_range is not none %}
          ip_range: {{ ipam_config_item.ip_range }}
{% endif %}
{% if ipam_config_item.gateway is defined and ipam_config_item.gateway is not none %}
          gateway: {{ ipam_config_item.gateway }}
{% endif %}
{% if ipam_config_item.aux_addresses is defined and ipam_config_item.aux_addresses is not none %}
          aux_addresses:
{% for key, value in ipam_config_item.aux_addresses.items() %}
            {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if current_project.value.networks[ 'labels' ] is defined %}
{% if current_project.value.networks[ 'labels' ] is mapping %}
    labels:
{% for key, value in current_project.value.networks[ 'labels' ].items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if current_project.value.networks[ 'labels' ] | length > 0 %}
    labels:
{% for network_label in current_project.value.networks[ 'labels' ] %}
      - {{ network_label }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if docker_volumes is defined and docker_volumes | length > 0 %}

volumes:
{% for docker_volume in docker_volumes %}
  {{ docker_volume }}:
{% endfor %}
{% endif %}
